<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Article</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h2>New Article</h2>

    <div class="container">
      <form action="/addData" class="card">
        <label>Article Title</label>
        <input type="text" name="heading" placeholder="Heading" required />

        <label>Content</label>
        <textarea name="description" placeholder="Content" required></textarea>

        <button type="submit">Publish</button>
      </form>
    </div>
  </body>
</html>
