.none {
  display: none;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.default {
  display: inline-block;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: auto;
}
.error {
  background-color: rgba(255, 0, 0, 0.1);
  display: inline-block;
  border: transparent;
  border-radius: 4px;
}
button.error {
  background-color: rgba(255, 0, 0, 0.2);
  display: inline-block;
  border: transparent;
  border-radius: 4px;
}
